<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

  <button class='btn btn-light' style='color: #8b7676; border: none; margin-top: 20px;' onclick="redirectToCalendar()">
    <i class='fa fa-calendar'></i>
    {{gocalendar}}
  </button>
  
<br><br><br>

    <a href="#" class="custom-previous-button" onclick="goBack()">
        <i class="fas fa-chevron-left"></i> {{goback}}
    </a>

  <script>
    // Funzione per tornare indietro di una pagina
    function goBack() {
      window.history.back();
    }

    // Funzione per il reindirizzamento al calendario
    function redirectToCalendar() {
      var calendarurl = '{{calendarurl}}';
      window.location.href = calendarurl;
    }
  </script>
</body>
</html>
