<!-- templateheader.mustache -->
<h2 align='center'>{{pagetitle}}</h2>
<div style="margin-top: 2%;"><a href="{{urldashboard}}" style="font-size: larger; text-decoration: underline;">{{courseName}}</a></div>
