<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="style/style.css">
   </head>
   <body>
      <div id="sprocontainer">
         <h3 id="selectoptions">{{selectoptions}}</h3>
         <!-- Due radio button personalizzati per le scelte -->
         <div class="form-check">
            <input class="form-check-input" type="radio" name="choice" id="choice1" value="1">
            <label class="form-check-label" for="choice1">{{defaultfields}}</label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" name="choice" id="choice2" value="2">
            <label class="form-check-label" for="choice2">{{customfields}}</label>
         </div>
         <!-- Hidden input for course ID -->
        <input type="hidden" id="courseid" name="courseid" value="{{courseid}}">
        <!-- Hidden input for survey ID -->
        <input type="hidden" id="sproid" name="sproid" value="{{sproid}}">
         <!-- Link per continuare -->
    <a href="#" id="continueButton" class="continue-link" onclick="checkradiobutton(event)">
      {{buttoncontinue}}  <i class="fas fa-chevron-right"></i> 
    </a>
      </div>
      <div id="emptyspace"></div>
      <div id="error-popup">
         <p>
            <i class="fas fa-exclamation-triangle"></i>
            <span>{{erroradiobtn}}</span>
         </p>
      </div>
      <script src='script/checkfields.js'></script>
      <script src='script/utility.js'></script>
   </body>
</html>