<!-- HTML document declaration -->
<!DOCTYPE html>
<html>

<head>
    <!-- External stylesheets for custom styles and font awesome -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>



    <!-- Include JavaScript file for CSV functionality -->
    <script src="script/csv.js"></script>
</body>

</html>
