<!DOCTYPE html>
<html>
<head>
  <script>
    function redirectToCalendar() {
      var calendarurl = '{{calendarurl}}';
      window.location.href = calendarurl;
    }
  </script>
</head>
<body>
  <button class='btn btn-light' style='color: #8b7676; border: none;' onclick="redirectToCalendar()">
    <i class='fa fa-calendar'></i>
    {{gocalendar}}
  </button>
</body>
</html>
