<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

<div id="csvbutton">
    <div class="float-right" style="margin-top: 50px;">
        <form action="" method="post" id="myForm">
            <input type="hidden" value="csv" name="1" id="ok">
            <input type="hidden" value="{{singlecsv}}" name="singlecsv">
            <input type="hidden" name="courseid" value="{{courseid}}">
            <button type="submit" name="csv" id="csv" class="btn btn-primary">
                <i class="fas fa-file-csv" style="margin-right: 7px;"></i>{{csvgen}}
            </button>
        </form>
    </div>
</div>

<div class="visible-box" id="downloadSection">
    <h5 id="downloadcsv">Download CSV</h5>
    <ul id='link'>
        {{#filenamearray}}
            <li class="download-success">
                <i class='fas fa-check-circle'></i>
                <a href='export.php?f={{.}}'>Download {{.}}</a>
            </li>
        {{/filenamearray}}
    </ul>
</div>

<script src="script/csv.js"></script>

</body>

</html>
