<!-- Header template for the page -->
<h2 align='center'>{{pagetitle}}</h2>
<!-- Link to the dashboard with course name -->
    <a href="{{urldashboard}}" title="Your Hover Text" style="font-size: larger; text-decoration: underline; float: left;">{{courseName}}</a>
 <!-- Empty space container -->
    <div id="emptyspacemin"></div>
