<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <div class="padding-top-bottom">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">{{searchusername}}</a>
            <form class="form-inline" method="post" action="">
                <input type="hidden" name="courseid" value="{{courseid}}">
                <input type="hidden" id="selectedFields" name="selectedFields" value="{{selectedFields}}">
                <input name="username" id="username" class="form-control mr-sm-2" type="search"
                    placeholder="{{insusername}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                        class="fas fa-search"></i> {{search}} </button>
            </form>
        </nav>
    </div>
</body>

</html>
