<!-- Header template for the page -->
<h2 align='center'>{{pagetitle}}</h2>
<!-- Link to the dashboard with course name -->
<div style="margin-top: 2%;"><a href="{{urldashboard}}" style="font-size: larger; text-decoration: underline;">{{courseName}}</a></div>
