<!-- HTML document declaration -->
<!DOCTYPE html>
<html>

<head>
    <!-- External stylesheets for custom styles and font awesome -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<!-- Error popup container -->
<div id="error-popup" style="display: none;">
    <!-- Error message with file icon -->
    <p>
        <i class="fas fa-file-csv"></i>
        <span>{{filenotexist}}</span>
    </p>
</div>

    <script src='script/csv.js'></script>
    <script src='script/utility.js'></script>
</body>

</html>
