<!DOCTYPE html>
<html>
<head></head>
<body>
<button class='btn btn-light' style='color: #8b7676; border: none;'>
  <i class='fa fa-calendar'></i>
  <a href='{{calendarurl}}'>{{gocalendar}}</a>
</button>
<body>
<html>
