<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style/style.css">            
</head>
<body>

<div id="sproContainer">
    <h3 id="titlesurvey">{{titleformspro}}</h3>
    <form id="surveyForm" style="margin-top: 3%;" method="post" action="">
        <input type="hidden" name="courseid" value="{{courseid}}">
        <select id="sproid" name="sproid">
            <option value="" selected disabled>{{selectoptions}}</option>
            {{#namesurveys}}
                <option value="{{id}}">{{{name}}}</option>
            {{/namesurveys}}
        </select>
        <input type="button" value="{{buttonsubmit}}" onclick="validateAndSubmitSurvey()">
    </form>
</div>

    <div id="emptySpace"></div>

    <div id="error-popup">
    <p>
        <i class="fas fa-exclamation-triangle"></i>
        <span>{{errorspro}}</span>
    </p>
</div>

<script src='script/form.js'></script>
</body>
</html>
